body,
html {
    height: 100%;
    background-color: rgb(14, 14, 16);
}

.giris {
    margin-top: 50px;
    padding: 15px;
    height: 600px !important;
}


.baslik {
    display: block;
    position: relative;
}

.baslik h1 {
    text-align: center;
    font-size: 250%;
    font-weight: bold;
    color: khaki;
}


label {
    color: khaki;
}

.form-control {
    background-color: rgb(24, 24, 27);
    border: 0;
}

.focusedInput:focus {
    background-color: khaki;
    border-color: rgba(82,168,236,.8);
    outline: 0;
    outline: thin dotted \9;
    -moz-box-shadow: 0 0 8px rgba(82,168,236,.6);
    box-shadow: 0 0 8px rgba(82,168,236,.6) !important;
}

.form-control:focus {
    background-color: rgb(31, 31, 36) !important;
    color: rgb(233, 233, 239);
    border-color: rgb(31, 31, 36) !important;
    box-shadow: 0 0 5px rgb(41, 41, 46, 1) !important;
}

button[type=submit] {
    display: block;
    margin: 0 auto;
    background-color: rgb(24, 24, 27);
    border: 0;
    width: 80px !important;
}

button[type=submit]:hover {
    background-color: rgb(31, 31, 36);
    
}

input[type=text] { 
    border: 0;
    color: rgb(233, 233, 239);
    background-color: rgb(31, 31, 36);
}

input[type=email]{
    border: 0;
    color: rgb(233, 233, 239);
    background-color: rgb(31, 31, 36);
}

input[type=password]{
    border: 0;
    background-color: rgb(31, 31, 36);
    color: rgb(233, 233, 239);
}


/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 50000s ease-in-out 0s;
}
input:-webkit-autofill {
    -webkit-text-fill-color: rgb(233, 233, 239) !important;
}